@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400");
.title-wrapper:before, .title-wrapper:after, .title-wrapper .title-content:before, .title-wrapper .title-content:after, .coffee-type .parts-des li:before {
  content: "";
  position: absolute;
  display: block;
}

.coffee-type .coffee-shape .expresso, .coffee-type .coffee-shape .steamed-milk, .coffee-type .coffee-shape .milk-foam, .coffee-type .coffee-shape .hot-water, .coffee-type .coffee-shape .chocolate {
  z-index: 2;
  position: absolute;
  height: .5em;
  border-style: solid;
}

.coffee-type .coffee-shape .expresso {
  bottom: 20%;
  left: 1%;
  width: 90%;
  border-width: 1.5em .25em 0 .25em;
  border-color: #795548 transparent;
}

.coffee-type .coffee-shape .steamed-milk {
  bottom: 1.5em;
  left: -1%;
  width: 95%;
  border-width: 1.5em .25em 0 .25em;
  border-color: #DFDFDF transparent;
}

.coffee-type .coffee-shape .milk-foam {
  bottom: 3em;
  left: -8%;
  width: 100%;
  border-width: 3em .5em 0 .5em;
  border-color: #D7CCC8 transparent;
}

.coffee-type .coffee-shape .hot-water {
  bottom: 1.5em;
  left: -6%;
  width: 97%;
  border-width: 3em .5em 0 .5em;
  border-color: #B3E5FC transparent;
}

.coffee-type .coffee-shape .chocolate {
  bottom: 3em;
  left: -4%;
  width: 101%;
  border-width: 1.55em .25em 0 .25em;
  border-color: #3E2723 transparent;
}

body {
  background-color: #BAA898;
}

.coffee-container {
  width: 90%;
  margin: 0 auto;
}

.title-wrapper {
  margin: 0 auto;
  margin-bottom: 1.5em;
  width: 50%;
  position: relative;
  padding: .25em;
  background-color: #5A3A31;
  font-family: "Lobster Two";
  font-size: 2.5em;
  text-align: center;
  color: #DEB887;
}

.title-wrapper:before, .title-wrapper:after {
  width: 1em;
  bottom: -.5em;
  border: 0.5em solid #5A3A31;
  z-index: -2;
}

.title-wrapper:before {
  left: -1em;
  border-right-width: .5em;
  border-left-color: transparent;
}

.title-wrapper:after {
  right: -1em;
  border-left-width: .5em;
  border-right-color: transparent;
}

.title-wrapper .title-content {
  text-align: center;
  margin-bottom: 2px;
}

.title-wrapper .title-content:before, .title-wrapper .title-content:after {
  bottom: -.5em;
  border-style: solid;
  border-color: #281a16 transparent transparent transparent;
  z-index: -1;
}

.title-wrapper .title-content:before {
  left: 0;
  border-width: .5em 0 0 1em;
}

.title-wrapper .title-content:after {
  right: 0;
  border-width: .5em 1em 0 0;
}

.coffee-holder {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.coffee-type {
  width: 35%;
  max-width: 17.5em;
  background-color: #EFEBE9;
  border-radius: 3%;
  position: relative;
  display: block;
  margin: 0 auto 1.25em auto;
  font-size: .85em;
  font-family: "Work Sans";
  font-weight: 400;
  color: #272124;
  display: block;
}

.coffee-type .coffee-name {
  text-align: center;
  margin-bottom: .75em;
  padding: .5em 0;
}

.coffee-type .parts-des {
  position: relative;
  margin-top: 1.5em;
  list-style-type: none;
  width: 80%;
  padding: .5em;
  margin: 0 auto;
}

.coffee-type .parts-des li {
  display: block;
  text-indent: 2em;
  text-indent-padding: 2px 0;
}

.coffee-type .parts-des .e-n:before {
  border-style: solid;
  border-width: .5em;
  border-color: #795548;
}

.coffee-type .parts-des .hw-n:before {
  border-style: solid;
  border-width: .5em;
  border-color: #B3E5FC;
}

.coffee-type .parts-des .sm-n:before {
  border-style: solid;
  border-width: .5em;
  border-color: #DFDFDF;
}

.coffee-type .parts-des .mf-n:before {
  border-style: solid;
  border-width: .5em;
  border-color: #D7CCC8;
}

.coffee-type .parts-des .c-n:before {
  border-style: solid;
  border-width: .5em;
  border-color: #3E2723;
}

.coffee-type .coffee-shape {
  margin: 0 auto;
  width: 33%;
  height: 0;
  position: relative;
  border-style: solid;
  border-width: 7em 1.25em 0 1.25em;
  border-color: #FAFAFA transparent;
}

.coffee-type .mocha .chocolate {
  bottom: 1.5em;
  left: -3%;
  width: 97%;
}

.coffee-type .mocha .steamed-milk {
  bottom: 3em;
  left: -7%;
  width: 105%;
}

.coffee-type .latte .steamed-milk {
  left: -7%;
  width: 97%;
  border-width: 3em .5em 0 .5em;
}

.coffee-type .macchiato .milk-foam {
  bottom: 1.5em;
  left: -3%;
  widtH: 97%;
  border-width: 1.5em .25em 0 .25em;
}
/*# sourceMappingURL=main.css.map */