doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Le Petit Prince
		link(rel="stylesheet" type="text/css" media="screen" href="/css/main.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Raleway:400,500")
	body
		.book__wrapper
			.book__section.left
				.section__blurb
				.section__blurb
				.section__blurb
			.book__section.middle
				p.title Le Petit Prince
				p.author Antoine de Saint-Exupéry
			.book__section.right
				.section__blurb
				.section__blurb.book__info
					p.title Le Petit Prince
					p.author
						|Antoine 
						|de 
						|Saint-Exupéry
				.section__blurb