doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Purple Crystal Ball
		link(rel="stylesheet" type="text/css" media="screen" href="/css/main.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:700")
	body
		.frame__container
			.frida__container
				.flowercrown__container
					.flower__hold
						- for (var i = 0; i < 4; i++)
							.petal
						.leaf
						.leaf
					.flower__hold
						- for (var i = 0; i < 4; i++)
							.petal
						.leaf
						.leaf
					.flower__hold
						- for (var i = 0; i < 4; i++)
							.petal
						.leaf
						.leaf
				.hair__container
					- for (var i = 0; i < 7; i++)
						.hair
				.head__container
					.hair__bun
					.ear.left
						.earring
					.ear.right
						.earring
					.face__container
						.eyebrow.left
						.middle
						.eyebrow.right
					.shirt
					.neck
		h1.font FRIDA