@import url("https://fonts.googleapis.com/css?family=Rubik:300");
.container .ribbon:before, .container .ribbon:after, .container .ribbon .ribbon-content:before, .container .ribbon .ribbon-content:after, .container #three .left-sq:before, .container #three .right-sq:before, .container #three .ribbon-content:before, .container #three .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
}

body {
  background-color: #FDFDFD;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 30em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.container .title {
  font-family: "Rubik", sans-serif;
  font-size: 3em;
  color: #5C6BC0;
  text-align: center;
}

.container .ribbon {
  position: relative;
  width: 60%;
  max-width: 500px;
  height: 5em;
  margin: 0 auto;
}

.container .ribbon .ribbon-content {
  font-family: "Rubik", sans-serif;
  font-size: 1.15em;
  text-align: center;
  display: block;
  height: 1.5em;
  width: 80%;
  margin: 0 auto;
  padding: .55em;
  color: #fff;
  background-color: #5C6BC0;
}

.container #one:before, .container #one:after {
  width: 1.5em;
  bottom: 10%;
  border: 1.5em solid #5C6BC0;
  z-index: -2;
}

.container #one:before {
  left: -1%;
  border-right-width: 1.25em;
  border-left-color: transparent;
}

.container #one:after {
  right: -1%;
  border-left-width: 1.25em;
  border-right-color: transparent;
}

.container #one .ribbon-content:before, .container #one .ribbon-content:after {
  bottom: -25%;
  border-style: solid;
  border-color: #4150a8 transparent transparent transparent;
  z-index: 1;
}

.container #one .ribbon-content:before {
  left: 2em;
  border-width: 1.5em 0 1.5em 1.5em;
}

.container #one .ribbon-content:after {
  right: 2em;
  border-width: 1.5em 1.5em 1.5em 0;
}

.container #two {
  width: 29em;
  margin-top: 2em;
}

.container #two:before, .container #two:after {
  width: 1.5em;
  border: 1.5em solid #5C6BC0;
  z-index: -2;
}

.container #two:before {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  top: -.1em;
  left: -2%;
  border-top-right-radius: .55em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

.container #two:after {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  bottom: 2em;
  right: -2.5%;
  border-bottom-left-radius: .55em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.container #two .ribbon-content {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.container #two .ribbon-content:before, .container #two .ribbon-content:after {
  border-style: solid;
  z-index: 1;
}

.container #two .ribbon-content:before {
  border-color: transparent transparent #4150a8 transparent;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  bottom: 2.5em;
  left: -.1em;
  border-width: 1.5em 0 1.5em 1.5em;
}

.container #two .ribbon-content:after {
  border-color: #4150a8 transparent transparent transparent;
  top: 2.5em;
  right: -.1em;
  border-width: 1.5em 1.5em 1.5em 0;
}

.container #three:before, .container #three:after {
  width: 1.5em;
  bottom: -1em;
  border: 1.5em solid #5C6BC0;
  z-index: -2;
}

.container #three:before {
  left: -2em;
  border-right-width: 1em;
  border-left-color: transparent;
}

.container #three:after {
  right: -2em;
  border-left-width: 1em;
  border-right-color: transparent;
}

.container #three .left-sq, .container #three .right-sq {
  position: absolute;
  display: block;
  width: 3em;
  height: 3em;
  top: 1.5em;
  background-color: #5C6BC0;
  margin: 0 auto;
}

.container #three .left-sq:before, .container #three .right-sq:before {
  z-index: 1;
  bottom: -3em;
  border-style: solid;
  border-color: #4150a8 transparent transparent transparent;
}

.container #three .left-sq {
  left: 0.5em;
}

.container #three .left-sq:before {
  border-width: 1.5em 0 1.5em 1.5em;
}

.container #three .right-sq {
  right: 0.5em;
}

.container #three .right-sq:before {
  right: 0;
  border-width: 1.5em 1.5em 1.5em 0;
}

.container #three .ribbon-content:before, .container #three .ribbon-content:after {
  z-index: 1;
  border-style: solid;
  border-color: #4150a8 transparent transparent transparent;
}

.container #three .ribbon-content:before {
  left: 1.5em;
  bottom: -1.15em;
  border-width: 1.5em 0 1.5em 1.5em;
}

.container #three .ribbon-content:after {
  right: 1.5em;
  bottom: -1.15em;
  border-width: 1.5em 1.5em 1.5em 0;
}
/*# sourceMappingURL=main.css.map */